numpy>=1.18,<1.23
pandas
wheel
jiwer
librosa
nose
num2words
openpyxl
pydub
pyloudnorm
PySoundFile
python-rclone
soundfile
sox
traitlets
webrtcvad
matplotlib
SpeechRecognition
textdistance
simpleaudio
