SpeechRecognition==3.8.1
jiwer==2.2.0
openpyxl==3.0.6
matplotlib==3.2.0
scipy==1.4.1
pydub==0.24.1
numpy==1.18.4
pyloudnorm==0.1.0
num2words==0.5.10
sox==1.4.1
SoundFile==0.10.3.post1
pandas==1.0.4

#error: command 'x86_64-linux-gnu-gcc' failed with exit status 1 (occured when pip install jiwer)
#solution: sudo apt-get install python3-dev

#error: SoX could not be found!
#solution: sudo apt-get install sox libsox-fmt-mp3

#error: OSError: libasound.so: cannot open shared object file: No such file or directory
#solution: sudo apt-get install libasound-dev
